<div class="banner">
  <%= image_tag "banner.jpg" %>
</div>

<% if user_signed_in? %>
  <div class="new-btn-container">
    <div class="new-btn">
        <%= link_to "Nouvel article", new_article_path, class: "btn btn-flat" %>
    </div>
  </div>
<% end %>

<div class="container-title">
  <div class="title">
    <h2>Actualités</h2>
  </div>
  <div class="arrow-right"></div>
</div>

<!--ARTICLES CARDS-->
<div class="card-container">

  <!--CARD-->
  <% @articles.each do |article| %>
    <div class="card">

      <!--LEFT CARD PART-->
      <div class="card-left">
        <div class="card-photo">
          <% if article.photo.key %>
            <%= cl_image_tag article.photo.key, class: "article-img" %>
          <% else %>
              <img src="https://res.cloudinary.com/dj5ui9nro/image/upload/v1669048484/vtnlkwtj3xuyqmeicgag.jpg" alt="#">
          <% end %>
        </div>
      </div>

      <!--RIGHT CARD PART-->
      <div class="card-right">
        <!--card top content-->
          <div class="top-content">
            <!--user buttons-->
            <% if user_signed_in? %>
              <div class="user-buttons">
                <%= link_to edit_article_path(article), class: 'btn btn-flat' do %>
                  <i class="fa-solid fa-pencil"></i>
                <% end %>

                <%= link_to article_path(article) ,
                  method: :delete,
                  data: { confirm: "Confirmer la suppression de l'article ?" }, class: "btn btn-flat" do %>
                    <i class="fa-solid fa-trash"></i>
                <% end %>
              </div>
            <% end %>


              <!--card title-->
              <div class="card-title">
                <h3><%= article.titre %></h3>
              </div>

                <!--card divider-->
                <div class="divider">
                </div>
          </div>

              <!--card bottom content-->
              <div class="bottom-content">
                <!--card description-->
                <div class="card-description">
                  <p><%= article.description %></p>
                </div>

                  <!--card attachment button-->
                  <div class="card-attachment">
                    <div class="attachment-button">
                      <%= link_to "Ouvrir le document", article.file_url, target: :_blank, class: "dl-link" %>
                    </div>
                  </div>
              </div>
      </div>
    </div>
  <% end %>
</div>

<% if @nao_articles.present? %>
  <div class="container-title">
    <div class="title">
      <h2>NAO</h2>
    </div>
    <div class="arrow-right"></div>
  </div>
  <% else %>
  <% end %>

  <div class="nao-container">

    <div class="card-container">
        <% @nao_articles.each do |nao_article| %>
          <div class="card-wrapper">
            <div class="card-photo">
              <% if nao_article.photo.key %>
                <%= cl_image_tag nao_article.photo.key, class: "article-img" %>
              <% else %>
                <img src="https://res.cloudinary.com/dj5ui9nro/image/upload/v1669048484/vtnlkwtj3xuyqmeicgag.jpg" alt="#">
              <% end %>
            </div>
              <div class="card-elements">

                <div class="card-content">

                  <div class="card-title">
                    <p><%= nao_article.titre %></p>

                    <% if user_signed_in? %>
                      <div class="user-buttons">
                        <%= link_to edit_article_path(nao_article), class: 'btn btn-flat' do %>
                          <i class="fa-solid fa-pencil"></i>
                        <% end %>
                          <%= link_to article_path(nao_article) ,
                            method: :delete,
                            data: { confirm: "Confirmer la suppression de l'article ?" }, class: "btn btn-flat" do %>
                            <i class="fa-solid fa-trash"></i>
                          <% end %>
                      </div>
                    <% end %>
                  </div>

                  <div class="card-description">
                    <p><%= nao_article.description %></p>
                  </div>
                </div>

                <div class="card-attachment">
                      <div class="ghost">
                      </div>
                      <div class="attachment-button">
                        <%= link_to "Ouvrir le document", nao_article.file_url, target: :_blank, class: "dl-link" %>
                      </div>
                    </div>
              </div>
          </div>
        <% end %>
  </div>

  </div>
