<div class="banner">
</div>

<% if user_signed_in? %>
  <div class="new-btn-container">
    <div class="new-btn">
        <%= link_to "Nouvel élu", new_representative_path, class: "btn btn-flat" %>
    </div>
  </div>
<% end %>

<div class="representatives-container">
    <div class="card-container">
          <% @representatives.each do |representative| %>
            <div class="card-wrapper">
              <div class="card-photo">
                <% if representative.photo.key %>
                  <%= cl_image_tag representative.photo.key, class: "article-img" %>
                <% else %>
                  <img src="https://res.cloudinary.com/dj5ui9nro/image/upload/v1669048484/vtnlkwtj3xuyqmeicgag.jpg" alt="#">
                <% end %>
              </div>
                <div class="card-elements">
                  <div class="card-content">
                    <div class="card-title">
                      <p><%= representative.titre %></p>

                      <% if user_signed_in? %>
                        <div class="user-buttons">
                          <%= link_to edit_representative_path(representative), class: 'btn btn-flat' do %>
                            <i class="fa-solid fa-pencil"></i>
                          <% end %>
                          <%= link_to representative_path(representative) ,
                            method: :delete,
                            data: { confirm: "Confirmer la suppression de l'élu ?" }, class: "btn btn-flat" do %>
                              <i class="fa-solid fa-trash"></i>
                          <% end %>
                        </div>
                      <% end %>
                    </div>

                    <div class="card-description">
                      <p><%= representative.description %></p>
                    </div>
                  </div>
                </div>
            </div>
          <% end %>
    </div>
</div>
